body {
  font-family: Arial, sans-serif;
  text-align: center;
  background: #1e1e2e;
  margin: 0;
  padding: 0;
}

.header {
  margin: 0;
  background-color: #2d333b; /* cor de fundo da faixa */
  color: #f0f6fc;           /* cor do texto */
  padding: 15px;
  text-align: center;
  font-size: 32px;
  font-weight: bold;
  position: relative; /* posição normal (não fixa) */
  width: 100%;
  box-sizing: border-box;
  box-shadow: 0px 5px 10px #22272e;
}

.container {
  display: flex;
  justify-content: center;
  margin-top: 50px;
}

.card {
  background: #f0f6fc;
  padding: 20px;
  width: 100px;
  height: 100px;
  border-radius: 12px;
  box-shadow: 0 0 10px rgba(0,0,0,0.2);
  text-decoration: none;
  color: #333;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: transform 0.2s, box-shadow 0.2s;
}

.card i {
  color: black;
}

.card:hover {
  transform: scale(1.05);
  box-shadow: 0 0 15px rgba(0,0,0,0.3);
}

.card-label {
  text-align: center;
  font-size: 25px;
  margin-top: 10px;
  font-weight: bold;
  color: #f0f6fc;
}
