body {
  font-family: Arial, sans-serif;
  text-align: center;
  background: #1e1e2e;
  margin: 0px;
  padding: 0px;
}

.faixa-topo{
  margin: 0;
  background-color: #2d333b; /* cor de fundo da faixa */
  color: #f0f6fc;           /* cor do texto */
  padding: 15px;
  text-align: center;
  font-size: 32px;
  font-weight: bold;
  position: relative; /* posição normal (não fixa) */
  width: 100%;
  box-sizing: border-box;
  box-shadow: 0px 5px 10px #22272e;
}

.voltar {
  padding: 20px;
  font-size: 20px;
  display: grid;
  justify-content: flex-start;
}



#voltar-btn {
  width: auto;
  height: auto;
  cursor: pointer;
  font-size: 18px;
  color: white;
  border: none;
}

#voltar-btn:hover {
  background-color: #cfcfcf0a;
  border-radius: 100%;
}

.box {
  background: #2e3440;
  padding: 25px;
  max-width: 300px;
  border-radius: 10px;
  box-shadow: 0 0 10px #2e3440;
  margin: auto;
  color: #d8dee9;
}

#valor {
  padding: 10px;
  width: 93.5%;
}

label {
  display: block;
  margin-top: 10px;
  font-weight: bold;
}

input,
select,
button {
  margin-top: 5px;
  padding: 10px;
  width: 100%;
  border-radius: 5px;
  border: 1px solid #ccc;
}

button {
  background: #257de0;
  color: white;
  cursor: pointer;
  margin-top: 15px;
  font-size: 18px;
  border: none;
}

button:hover {
  background: #15559e;
  border: none;
}

#resultado {
  margin-top: 20px;
  color: #34d399;
}